.order{
    background-color: #eeeeee;
}
.order .container{
    width: 1000px;
}
.order-content{
    padding: 20px 0;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.order-content .left{
    width: 30%;
}
.order-content .left li{
    margin-bottom: 15px;
    
}
.order-content .left li:first-child{
    font-size: 16px;
}
.order-content .left li:nth-child(2){
    width: 100%;
    background-color: #ddd;
    padding: 10px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.order-content .left li:nth-child(3){
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
}
.order-content .left li:nth-child(2) i,
.order-content .left li:nth-child(3) i{
    color: #0fb400;
    font-size: 18px;
    margin-right: 10px;
}
.order-content .left li:last-child{
    text-align: center;
    border-radius: 5px;
    color: #ff9913;
    font-weight: bold;
    transition: all .3s ease;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ff9913;
}
.order-content .left li:last-child:hover{
    background: #ff9913;
    color: #fff;
}
.order-content .right{
    width: 65%;
}
.order-content .right .lich-su{
    display: flex;
    font-size: 15px;
    margin-bottom: 15px;
}
.order-content .right .lich-su li{
    margin-right: 10px;
}
.order-content .right .donhang{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 170px;
    margin-top: 15px;
}
.order-content .right .donhang .top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.order-content .right .donhang .top li:nth-child(2){
    color: #0fb400;
    font-weight: bold;
}
.order-content .right .donhang .bottom{
    display: flex;
    justify-content: space-between;
}
.order-content .right .donhang .bottom .bottom-left{
    display: flex;
}
.order-content .right .donhang .bottom .bottom-left li{
    margin-right: 10px;
}
.order-content .right .donhang .bottom .bottom-left li img{
    width: 40px;
}
.order-content .right .donhang .bottom .bottom-right{
    display: flex;
    justify-content: space-between;
    height: 80px;
    flex-direction: column;
}
.order-content .right .donhang .bottom .bottom-right li:nth-child(1) span{
    font-size: 15px;
} 
.order-content .right .donhang .bottom .bottom-right li:nth-child(2){
    border: 1px solid #ff9913;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color: #ff9913;
    border-radius: 5px;
    transition: all .3s ease;
}
.order-content .right .donhang .bottom .bottom-right li:nth-child(2):hover{
    background-color: #ff9913;
    color: #fff;
}